<h1 class="ranksHeader">Ranks</h1>

<% userRank = "(You are here)" %> 

<div class="ranksDiv">
  <p class="fitnessLegend">Fitness Legend</p>
  <% if(locals.isAuthenticated) {%>
    <% if (reqUser.rank == 'Fitness Legend') { %> 
      <p class="userRank"><%= userRank %></p>
    <% } %>
  <% } %> 
</div>

<div class="ranksDiv">
  <p class="sarmGoblin">Sarm Goblin</p>
  <% if(locals.isAuthenticated) {%>
    <% if (reqUser.rank == 'Sarm Goblin') { %> 
      <p class="userRank"><%= userRank %></p>
    <% } %>
  <% } %> 
</div>

<div class="ranksDiv">
  <p class="gymbro">Gymbro</p>
  <% if(locals.isAuthenticated) {%>
    <% if (reqUser.rank == 'Gymbro') { %> 
      <p class="userRank"><%= userRank %></p>
    <% } %>
  <% } %> 
</div>

<div class="ranksDiv">
  <p class="intermediate">Intermediate</p>
  <% if(locals.isAuthenticated) {%>
    <% if (reqUser.rank == 'Intermediate') { %> 
      <p class="userRank"><%= userRank %></p>
    <% } %>
  <% } %> 
</div>

<div class="ranksDiv">
<p class="newbie">Newbie</p>
  <% if(locals.isAuthenticated) {%>
    <% if (reqUser.rank == 'Newbie') { %> 
      <p class="userRank"><%= userRank %></p>
    <% } %>
  <% } %> 
</div>
