<h2>Ranks</h2>

<% userRank = "(You are here)" %> 

<div>
  <p>Fitness Legend</p>
  <% if(locals.isAuthenticated) {%>
    <% if (reqUser.rank == 'Fitness Legend') { %> 
      <%= userRank %>
    <% } %>
  <% } %> 
</div>

<div>
  <p>Sarm Goblin</p>
  <% if(locals.isAuthenticated) {%>
    <% if (reqUser.rank == 'Sarm Goblin') { %> 
      <%= userRank %>
    <% } %>
  <% } %> 
</div>

<div>
  <p>Gymbro</p>
  <% if(locals.isAuthenticated) {%>
    <% if (reqUser.rank == 'Gymbro') { %> 
    <%= userRank %>
    <% } %>
  <% } %> 
</div>

<div>
  <p>Intermediate</p>
  <% if(locals.isAuthenticated) {%>
    <% if (reqUser.rank == 'Intermediate') { %> 
      <%= userRank %>
    <% } %>
  <% } %> 
</div>

<div>
<p>Newbie</p>
  <% if(locals.isAuthenticated) {%>
    <% if (reqUser.rank == 'Newbie') { %> 
      <%= userRank %>
    <% } %>
  <% } %> 
</div>
