<label>Name</label>
<input type="text" name="name" value="<%= gymbro.name %>" />
<br />
<br />
<label>Age</label>
<input type="number" name="age" value="<%= gymbro.age %>" />
<br />
<br />
<label>Favorite exercise</label>
<input
  type="text"
  name="favoriteExercise"
  value="<%= gymbro.favoriteExercise %>"
/>
<br />
<br />
<label>Bench PR</label>
<input type="number" name="bench" value="<%= gymbro.bench %>" /> kg
<br />
<br />
<label>Squat PR</label>
<input type="number" name="squat" value="<%= gymbro.squat %>" /> kg
<br />
<br />
<label>Deadlift PR</label>
<input type="number" name="deadlift" value="<%= gymbro.deadlift %>" /> kg
<br />
<br />
