<div>
  <label>Name</label>
  <input required="true" type="text" name="name" value="<%= gymbro.name %>" />
</div>

<div>
  <label>Age</label>
  <input required="true" type="number" name="age" value="<%= gymbro.age %>" />
</div>

<div>
  <label>Bodyweight</label>
  <input required="true" type="number" name="bodyWeight" value="<%= gymbro.bodyWeight %>" /> kg
</div>

<div>
  <label>Height</label>
  <input required="true" type="number" name="height" value="<%= gymbro.height %>" /> cm
</div>

<div>
  <label>Favorite exercise</label>
  <input
  required="true"
  type="text"
  name="favoriteExercise"
  value="<%= gymbro.favoriteExercise %>"/>
</div>

<div>
  <label>Bench PR</label>
  <input required="true" type="number" name="bench" value="<%= gymbro.bench %>" /> kg
</div>

<div>
  <label>Squat PR</label>
  <input required="true" type="number" name="squat" value="<%= gymbro.squat %>" /> kg
</div>

<div>
  <label>Deadlift PR</label>
  <input required="true" type="number" name="deadlift" value="<%= gymbro.deadlift %>" /> kg
</div>
