<h1>Search Gymbros</h1>
<form action="/gymbros" method="GET">
  <label>Name</label>
  <input type="text" name="name" value="<%= searchOptions.name %>" />
  <button type="submit">Search</button>
</form>

<% for (let i = 0; i < gymbros.length; i++) { %>
<h2><%= gymbros[i].name %></h2>
<p>Age: <%= gymbros[i].age %></p>
<p>Favorite exercise: <%= gymbros[i].favoriteExercise %></p>
<p>Bench PR: <%= gymbros[i].bench %> kg</p>
<p>Squat PR: <%= gymbros[i].squat %> kg</p>
<p>Deadlift PR: <%= gymbros[i].deadlift %> kg</p>
<br />
<% } %>
