<h1>Search Gymbros</h1>
<form action="/gymbros" method="GET">
  <label>Name</label>
  <input type="text" name="name" value="<%= searchOptions.name %>" />
  <button type="submit">Search</button>
</form>

<% if ( filter == false) { %>
  <form action="/gymbros" method="GET">
    <button type="submit" name="showFilter">Filter</button>
  </form>
<% } else { %>
  <%- include('_filter_form_fields')  %> 
<% } %> 

<% gymbros.forEach(gymbro => { %>
  <a href='/gymbros/<%= gymbro.id %>'>
    <h2><%= gymbro.name %></h2>
  </a>
  <p>Age: <%= gymbro.age %></p>
  <p>Bodyweight: <%= gymbro.bodyWeight %></p>
  <p>Height: <%= gymbro.height %></p>
  <p>Favorite exercise: <%= gymbro.favoriteExercise %></p>
  <p>Bench PR: <%= gymbro.bench %> kg</p>
  <p>Squat PR: <%= gymbro.squat %> kg</p>
  <p>Deadlift PR: <%= gymbro.deadlift %> kg</p>
  <br />
  <hr>
<% }) %>

<% if (gymbros.length == 0) { %>
  <p>No results :(</p>
<% } %>  