<% try { %> 
  <% isThisUser = false %> 
  <% if(reqUser._id === user.id) { %>
    <% isThisUser = true %> 
    <h1>Your profile</h1>
  <% } %> 
<% } catch { %> 
<% } %> 


<h2><%= user.username %></h2>
<p>Name: <%= user.name %></p> </p>
<p>Age: <%= user.age %></p>
<p>Favorite exercise: <%= user.favoriteExercise %></p>
<p>Bench PR: <%= user.bench %> kg</p>
<p>Squat PR: <%= user.squat %> kg</p>
<p>Deadlift PR: <%= user.deadlift %> kg</p>
<br>
<% if (isThisUser) { %>
  <a href="/users/<%= user.id %>">Edit</a>
  <a href="/users/<%= user.id %>">Delete</a>
<% } %>  
<br>

<h2>Posts</h2>
<% if (posts.length > 0) { %> 
  <% posts.forEach(post => { %>  
    <a href='/users/<%= user.id %>'>
      <p><%= user.username %> </p>
    </a> 
    <p>Text: <%= post.text %></p>
    <p>Likes: <%= post.numOfLikes %></p>
    <p>Created: <%= post.createdAtDate %></p>
    <br />
    <hr>
  <% }) %> 
<% } else { %>
  <% if(isThisUser) { %> 
    <p> You havn't posted anything yet</p>
  <% } else { %>
    <p><%= user.username %> hasn't posted anything yet</p>
  <% } %>  
<% } %>  
