<h1>Search Posts</h1>
<form action="/posts" method="GET">
  <input type="text" name="search" value="<%= searchOptions.search %>" />
  <button type="submit">Search</button>
</form>


<% posts.forEach(post => { %>
  <% users.forEach(user => { %> 
    <% try { %> 
      <% isThisUser = false %> 
      <% if(reqUser._id === user.id) { %>
        <% isThisUser = true %>
      <% } %>  
    <% } catch {} %>
    <% if (user.id == post.user) { %>
      <a href="/users/<%= user.id %>">
        <p><%= user.username %></p>
      </a>
      <% if(isThisUser) { %>
        <p>(You)</p>
      <% } %>  
    <% } %> 
  <% }) %>
  <% if (post.postImagePath != null) { %>
    <% if(post.postImageFileType !== 'mp4') { %>
      <div style="width: 275px">
        <img src="<%= post.postImagePath %>" width="100%"/>
      </div>
    <% } else { %>
      <div style="width: 275px">
        <video controls width="100%">
          <source src="<%= post.postImagePath %>" type="video/mp4" />
          error video
        </video>
      </div>
    <% } %>
  <% } %>

  <p><%= post.text %></p>
  <p>Likes: <%= post.numOfLikes %></p>
  <p><%= post.createdAtDate.toISOString().split('T')[0] %></p>

  <% users.forEach(user => { %>
    <% if (user.id == post.user) { %> 
      <% try { %>
        <% if (user.id === reqUser._id) { %>
          <a href="/posts/<%= post.id %>/edit">Edit</a>
          <a href="/posts/<%= post.id %>/delete">Delete</a>
        <% } %>
      <% } catch {} %>  
    <% } %> 
  <% }) %> 

  <br />
  <hr />
<% }) %>
