<div>
  <label>Name</label>
  <input required="true" type="text" name="name" value="<%= user.name %>" />
</div>

<div>
  <label>Age</label>
  <input required="true" type="number" name="age" value="<%= user.age %>" />
</div>

<div>
  <label>Bodyweight</label>
  <input required="true" type="number" name="bodyWeight" value="<%= user.bodyWeight %>" /> kg
</div>

<div>
  <label>Height</label>
  <input required="true" type="number" name="height" value="<%= user.height %>" /> cm
</div>

<div>
  <label>Favorite exercise</label>
  <input
  required="true"
  type="text"
  name="favoriteExercise"
  value="<%= user.favoriteExercise %>"/>
</div>

<div>
  <label>Bench PR</label>
  <input required="true" type="number" name="bench" value="<%= user.bench %>" /> kg
</div>

<div>
  <label>Squat PR</label>
  <input required="true" type="number" name="squat" value="<%= user.squat %>" /> kg
</div>

<div>
  <label>Deadlift PR</label>
  <input required="true" type="number" name="deadlift" value="<%= user.deadlift %>" /> kg
</div>
